#footer {
    height: 6vh;
    background-color: var(--footer-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-text {
    font-size: 0.8rem;
    color: var(--footer-text-color);
}