#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark-mode-icon {
    width: 2.8rem;
    height: 2.8rem;
    position: fixed;
    right: 2rem;
    top: 2rem;
    z-index:2;
    transition: transform 0.3s ease-in-out;
    background: var(--background-color);
    border-radius: 5rem;
}

.dark-mode-icon:hover {
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg);
}